
.table td {
    background-color: rgba(0, 0, 0, 0.236);
}

.table th {
    background-color: rgba(0, 0, 0, 0.47);
}
      
footer {
    border-top: 4px black solid !important;
}

.titulo-juego,
.titulo-error {
    color: white;
}

.detalles-juegos,
.detalles-desarrolladores {
    display: flex;
    margin-bottom: 10px;
}

.detalles-juegos {
    justify-content: space-between;
}

.detalles-desarrolladores {
    justify-content: end;
}

.form-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-group label {
    color: white;
}

.login-failed {
    color: white;
}

.listed-game-title {
    text-decoration: none;
    color: rgb(208, 208, 49);
}

.contenedor-juego {
    margin: 30px 100px;
    padding: 20px;
    background-color: rgb(6, 6, 93);
    border-radius: 10px;
}

.titulo-juego {
    color: rgb(223, 222, 222);
    text-align: center;
    margin-bottom: 20px;
}

.descripcion-juego,
.fecha-juego,
.desarrollador-juego,
.edad-juego {
    color: rgb(200, 200, 200);
    margin: 15px 100px;
}

.contenedor-imagen-juego {
    display: flex;
    justify-content: center;
}

.imagen-juego {
    display: block;
    width: 40vw;
    height: auto;
}

.edad-juego {
    color: rgb(126, 126, 126);
}


